body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

h1{
  text-align: center;
  margin-top: 6rem;
  color: #FEF2BF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width: 600px) {
  body {
    /* Adjust body styling for mobile */
    background-color: #02254F; /* Slightly different color for visual change */
  }

  #level-title {
    font-size: 2rem; /* Smaller font size for smaller screens */
    margin: 10% 5%; /* Adjust margin for mobile */
  }

  .container {
    width: 80%; /* Increase width to utilize more screen space */
  }

  .btn {
    height: 150px; /* Smaller buttons for smaller screens */
    width: 150px;
    margin: 15px;
  }


  /* Add any other mobile-specific styles here */
}
